
html, body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-x: hidden;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

nav {
  padding: 15px 10px;
  font-display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh; 
  background-color: #2c3e58;
}

.container {
  max-width: 1200px;
  min-width: 320px;     
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: floralwhite;
  margin: 0px auto;
  padding: 0px; 10px;
}

.header-menu {
  position: relative;
}

.header-burger {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;    
  margin: 0;
  padding: 25px;
  background-color: #2c3e58;
}

.nav-list li {
  list-style: none;
  display: inline;
}

.nav-list li a {
  text-decoration: none;
  color: #c5c8cc;
  font-size: 18px;
  font-weight: bold;
  transition: linear .3s;
}
.nav-list a:hover {
  border-bottom: 2px solid #f0670b ;
}

.nav-item {
  list-style: none;
}

.nav-link {
  display: flex;
  justify-content: space-between
  width: 40%;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #c5c8cc;
}

.d-flex {
  display: flex;
}

.sidebar {
  background: #2c3e58;
  width: 50%;
  padding-bottom: 40px;
}

.sidebar-info {
  padding: 30px;
}

.sidebar-title {
  color: #c5c8cc;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 30px;
}

.sidebar-items {
  color: #f0670b;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.sidebar-text {
  color: #c5c8cc;
}

.my-photo {
  width: 370px;
}

.sidebar-contact-items {
  list-style-type: none;
}

.sidebar-contact-text {
  color: #f0670b;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
}

.sidebar-contact-link {
  color: #c5c8cc;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}


main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.name {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-left: 50px;
  margin-right: 50px;
}

.profession {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
  margin-left: 50px;
  margin-right: 50px;
}

.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-title {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: underline;
  margin-bottom: 23px;
  margin-left: 50px;
  margin-right: 50px;
}

.company-name {
  color: #f0670b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.profession-name {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.profession-degree {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.date {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-items {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 50px;
}

.javascript {
  margin-left: 50px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  color:  #c5c8cc;
  justify-content: space-between;
  background-color: #2c3e58;
}

.logo {
  display: block;
  width: 100px;
  height: 50px;
}



